[submodule "lib/balancer-v3-monorepo"]
	path = lib/balancer-v3-monorepo
	url = https://github.com/balancer-labs/balancer-v3-monorepo
[submodule "lib/openzeppelin-contracts"]
	path = lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
[submodule "lib/permit2"]
	path = lib/permit2
	url = https://github.com/Uniswap/permit2
